.popup__user-name {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin: 0 36px 30px 36px;
  padding: 0 0 10px 0;
}

@media screen and (max-width: 700px) {
  .popup__user-name {
    margin: 0 22px 30px 22px;
  }
}